h1
    // color: red
    color: rgb(255, 25, 104)
    text-align: center
    
news
    color: blue

body 
    background-color: rgb(251, 250, 218)

.logo
    display: block
    margin-left: auto
    margin-right: auto

.page-content
    margin-left: auto
    margin-right: auto
    //width: 6em
    
p
    text-indent: 3em
    
.menu-container
    display: block
    margin-left: auto
    margin-right: auto
