h1
    color: rgb(255, 25, 104)
    text-align: center
    
h1.title
    //padding-top: 2em
    margin-top: auto

news
    color: blue

body 
    background-color: rgb(251, 250, 218)

.logo
    display: block
    margin-left: auto
    margin-right: auto

.page-content
    margin-left: auto
    margin-right: auto
    
p
    text-indent: 3em
    
.menu-container
    position: center;
    display: block
    margin-left: auto
    margin-right: auto

div.publication
    border-color: #AAAAAA
    border-width: 1px
    border-style: solid
    padding: 1em 1em 1em 1em
    margin: auto
    
div.pagination ul
    list-style: none    
    display: block
    border-style: none
    margin: auto
    
div.pagination ul li
    float: left    
    display: block
    margin: 2px 0px 0px 2px
